.mail-list-subject{
    min-width: 280px;
    font-weight: 600 !important; 
}

.mail-list-content{
    max-width: 300px;
    min-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-list-date{
    min-width: 1400px;
}

.mail-list-name{
    min-width: 160px;
}

.single-mail-row{
    cursor: pointer;
}

/* .email-list-title{
    display: flex;
    position: sticky;
}
*/

.email-list-paginate{
    margin: 20px;
} 