PORT = 'port'
CORS_ORIGIN = 'cors-origin'
MONGO_URI = 'mongodb+srv://username:password@cluster0.qwertyu.mongodb.net'
ACCESS_TOKEN_EXPIRY = 'acces-token-expiry'
ACCESS_TOKEN_SECRET = 'acces-token-secret'
REFRESH_TOKEN_EXPIRY = 'refresh-token-expiry'
REFRESH_TOKEN_SECRET = 'refresh-token-secret'
AWS_REGION = 'aws-region'
AWS_ACCESS_KEY = 'aws-access-key'
AWS_SECRET_KEY = 'aws-secret-key'